@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
* {
    margin: 0;
    padding: 0;
}
a,
h1 {
    font-family: Poppins, sans-serif !important;
    text-decoration: none;
    color: #4292c7;
}
a:hover {
    color: #45b4ff;
}
body {
    min-height: 100vh;
}
main {
    min-height: calc(90vh - 72px);
    margin: 0 20px;
}
ul li {
    margin: 10px;
    font-family: Roboto, sans-serif;
}
.footer {
    height: 10vh;
    background-color: #ddd;
}
.footer .content {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
}
p {
    font-family: Roboto, sans-serif;
}
.headerForeground {
    width: 100%;
}
.Item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.desktopHeader {
    display: block;
}
.header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 72px;
    padding: 8px 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    z-index: 60;
}
.headerInner {
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1600px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.headerLogo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    margin-right: 10px;
}
.headerLogo a {
    color: #1e2124;
}
.logo {
    height: 40px;
    width: 40px;
    border-radius: 50rem;
}
.flexNoWrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flexJustifyStart {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.flexAlignStretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.flexHorizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.flex,
.flex .flexChild {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.headerNav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 0;
    margin: 0;
    min-height: 56px;
}
.desktopSubMenuItem {
    cursor: default;
    -webkit-font-smoothing: subpixel-antialiased;
    opacity: 1;
    position: relative;
    -webkit-transition: opacity 0.125s;
    transition: opacity 0.125s;
    will-change: opacity;
}
.listItemInactive {
    cursor: pointer;
    opacity: 0.8;
}
.listItemInactive:hover {
    opacity: 1;
}
.listItem {
    display: inline-block;
    -webkit-font-smoothing: subpixel-antialiased;
    position: relative;
    -webkit-transition: opacity 0.125s;
    transition: opacity 0.125s;
    will-change: opacity;
}
.mainNavLink {
    padding: 15px 10px;
}
.navLink {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}
.desktopMenuMore {
    color: #fff;
    text-decoration: none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    padding: 15px 10px;
}
.moreListClosed {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: scale(0.9) translateY(-10px);
    transform: scale(0.9) translateY(-10px);
    visibility: hidden;
}
.moreList {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 13px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    min-width: 122px;
    background: #31353a;
    border-radius: 4px;
    padding: 2px 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: opacity 0.125s, visibility 0.125s, -webkit-transform 0.125s;
    transition: opacity 0.125s, visibility 0.125s, -webkit-transform 0.125s;
    transition: opacity 0.125s, transform 0.125s, visibility 0.125s;
    transition: opacity 0.125s, transform 0.125s, visibility 0.125s, -webkit-transform 0.125s;
}
.moreList.right {
    right: 0;
    left: auto;
}
.moreListItem {
    background-color: #31353a;
    font-weight: 400;
    display: block;
    padding: 2px;
    color: #ccc;
    transition: color 125ms ease;
}
.moreListItem :hover {
    background-color: #3c4147;
    color: #fff;
    transition: color 125ms ease;
}
.moreListItemInactive .moreListLink {
    color: #9099a4;
}
.moreListLinkCopy {
    color: #ccc;
    border-radius: 3px;
    display: block;
    padding: 5px 10px;
    margin-left: 2px;
    margin-right: 2px;
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}
.headerNavRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: auto;
}
.headerNavRight {
    color: #1e2124;
}
.headerNavRight span {
    font-family: Poppins, sans-serif;
    cursor: pointer;
    margin-right: 20px;
}
.headerTransparent {
    background: 0 0;
}
.headerBlack {
    background-color: #1f2225;
}
.mobileHeader {
    font-family: "Baloo Tammudu 2", Helvetica, arial, sans-serif;
    height: 72px;
    margin: 0 auto;
    padding: 4px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
}
.mobileHeader.active {
    background-color: #1f2225;
}
.mobileHeaderInner {
    padding: 0 18px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    position: relative;
    justify-content: space-between;
}
.linkedin {
    fill: #0072b1;
    transition: 125ms ease;
}
.linkedin:hover {
    fill: #0287cf;
    transition: 125ms ease;
}
.mobileHeader.active .mobileHeaderInner {
    border-bottom: 1px solid #2f2f2f;
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    background-color: #fff;
}
.mobileHeaderNav {
    position: absolute;
    width: 100%;
    top: 67px;
    left: 0;
    padding: 0;
    margin: 0;
    font-family: "Baloo Tammudu 2", Helvetica, arial, sans-serif;
    display: none;
    z-index: 1000;
}
.mobileHeaderNav.open {
    display: block;
}
.mobileHeaderNav li {
    padding: 10px 25px;
    text-align: center;
    border-bottom: 1px solid #2f2f2f;
}
.mobileHeaderNav li a {
    font-size: 13px;
    text-decoration: none;
    color: #ccc;
}
.mobileHeaderNav li a:hover {
    color: #fff;
}
.burgerIcon {
    position: relative;
    margin: 5px auto;
}
.burgerIcon,
.burgerIcon:after,
.burgerIcon:before {
    display: block;
    width: 17px;
    height: 2px;
    -webkit-transition: background-color 125ms linear, -webkit-transform 125ms linear;
    -moz-transition: background-color 125ms linear, -moz-transform 125ms linear;
    -o-transition: background-color 125ms linear, -o-transform 125ms linear;
    -ms-transition: background-color 125ms linear, -ms-transform 125ms linear;
    transition: background-color 125ms linear, transform 125ms linear;
    border-radius: 6px;
    background-color: #fff;
}
.burgerIcon:after,
.burgerIcon:before {
    position: absolute;
    content: "";
}
.burgerIcon:before {
    top: -5px;
}
.burgerIcon:after {
    top: 5px;
}
.burgerToggle {
    border: none;
    background: 0 0;
    cursor: pointer;
}
.burgerToggle.active .burgerIcon {
    background-color: transparent;
}
.burgerToggle.active .burgerIcon:before {
    -webkit-transform: translateY(5px) rotate(45deg);
    -moz-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
    -ms-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
}
.burgerToggle.active .burgerIcon:after {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    -moz-transform: translateY(-5px) rotate(-45deg);
    -o-transform: translateY(-5px) rotate(-45deg);
    -ms-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg);
}
.lander {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lander .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-radius: 5px;
}
.lander .content h1 {
    padding: 10px;
    font-size: 200%;
}
.lander .content p {
    padding: 10px;
}
.sections .section .header {
    color: #000;
}
.sections {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: auto;
}
.sections .section {
    margin: 20px 0;
    width: 600px;
}
.sections .content.img {
    height: 300px;
    width: auto;
}
.section.last {
    margin-bottom: 30px;
}

@media (max-width: 974px) {
    .mobileHeader {
        display: block;
    }
    .desktopHeader {
        display: none;
    }
    .sections .section {
        width: 90%;
    }
    .lander .content {
        width: 90%;
        text-align: center;
    }

	.hero-image {
		display: none;
	}
}
